.admin {
    display: flex;
    &__create{
        flex: 1 0 0;
        padding-left: 50px;
        h5{
            margin-top: 25px;
            font-weight: 600;
        }
    }
    &__products{
        flex: 2 0 0;
    }
    &__create-mobile{
        width: 100%;
        padding: 10px 20px;
    }
    &__goBack{
        margin: 20px 0px;
    }
}

.create {
    &__inputs {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        h6{
            margin-left: -10px;
        }
        label{
            margin-left:10px;
        }
    }
    &__inputs-sizes {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        h6{
            margin-left: -10px;
        }
    }
    &__photos{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        h6{
            margin-left: -10px;
        }
    }
    &__button{
        margin-top: 20px;
        text-align: end;
    }
}
    

.products {
    &__header {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5{
            margin: 0;
            font-weight: 600;
        }
    }
    &__search {
    }
    &__carts {
        margin: 20px 0px;
    }
    &__pagination {
    }
    &__add{
        display: none;
        cursor: pointer;
        position: absolute;
        right: 45px;
        bottom: 240px;
        background-color: $orange;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 500;
        font-size: 58px;
    }
}

.product {
    &__cart {
        display: flex;
        align-items: center;
        border-top: 1px solid $gray;
        padding: 5px 0px;
    }
}

.cart {
    &__img {
        margin-right: 10px;
        img{
            width: 80px;
            height: 80px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        font-weight: 500;
    }
    &__name {
        display: flex;
        p{
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
    &__buttons {
        display: flex;
    }
    &__delete {
        cursor: pointer;
        margin-right: 10px;
        color: $red;
    }
    &__description{
        display:flex;
        margin-top: -5px;
        margin-bottom: 5px;
        p{
            margin: 0;
            font-size: 14px;
            font-weight: 400;
            color:$dark-gray;
        }
    }
}
    
@media(max-width:1024px){
    .admin__create{
        display: none;
    }
    .products__add{
        display: flex;
    }
}

@media(max-width:445px){
    .products__header{
        flex-direction: column;
    }
}
    