@import '../varibales';

.navbar{
    height: 100px;
}

.nav-link{
    color: $black;
    font-weight: 600;
    margin: 0px 10px;
}
.header{

    &__icon{
        cursor: pointer;
        width: 50px;
    }
    &__search{
        margin-left: 10px;
        background-color: $gray;
        border-radius: 50em;
        width: 900px;
        input{
            height: 40px;
            border-radius: 50em;
            width: 100%;
            background-color: inherit;
            border: none;
        }
        img{
            cursor: pointer;
            width: 18px;
            height: 18px;
        }
    }

}

.bg{
    background-image: url('../../assets/img/Bg2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
}

.menu-position{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    cursor: pointer;
    margin: 0px 15px;
    width: 24px;
    height: 24px;
}

.dropdown-item:active{
    background-color: $orange !important;
}
.sub-menu{
    color: $black !important;
    text-decoration: none !important;
    width: 100%;
}
.menu-adapt{
    display: flex;
    justify-content: right;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    a{
        position: relative;
    }
}

.burger{
    padding-right: 10px;
    display: none;
    z-index: 1000;
}

.cart-count{
    position: absolute;
    top:15px;
    right: 8px;
    text-decoration: none;
    background-color: $orange;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 0px 6px;
}
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  .menu__btn { 
    margin-top: 30px;
    position: relative;
    margin-left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

.burger-menu{
    position: fixed;
    right: 0;
    top:-200px;
    padding: 100px 0px;
    width: 50%;
    height: 100vh;
    transform: translateX(150%);
    margin-top: 200px;
    background-color: white;
    font-size: 18px;
    flex-direction: column!important;
    transition: all 0.5s;
    z-index:100;
}

.burger-menu{
    &__account{
        margin: 0px 20px;
        a{
            margin: 0!important;
            padding: 5px 0px!important;
        }
    }
}

.showed{
    position: fixed;
    transform: translateX(0)!important;
}

@media (max-width:1920px) {
    .header__search {
        width: 700px;
    }
}

@media (max-width:1440px){
    .menu-position{
        justify-content: space-around;
    }
    .header__search{
        width: 500px;
    }
}


@media (max-width:1300px){
    .header__search{
        width: 280px;
    }
}

@media (max-width:1092px){
    .header__search{
        width: 700px!important;
    }
    .burger{
        display: block;
    }
    .menu {
        display: none!important;
    }
    .menu-adapt{
        .icons{
            display: none;
        }
    }
    .header__search{
        width: 500px;
    }
}

@media (max-width:992px){
    .header__search{
        width: 500px!important;
    }
}

@media (max-width:880px){
    .menu-adapt{
        justify-content: space-between;
    }
    .header__search{
        width: 500px;
    }
}

@media (max-width:768px){
    .header__search{
        width: 100% !important;
    }
}
@media (max-width:442px){
    .burger-menu{
        width: 100%!important;
    }
    .header{
        display: flex!important;
        flex-wrap: wrap!important;
    }
    .menu-adapt{
        order: 2;
    }
    .navbar{
        height: 140px;
    }
    .header{
        form{
            order: 3;
        }
    }
    .header__search{
        width: 380px!important;
        margin-top: 5px;
    }
    .navbar-brand{
        margin-left: 15px;
    }
}

@media (max-width:411px){
    .header__search{
        width: 360px!important;
    }
}

@media (max-width:390px){
    .header__search{
        width: 340px!important;
    }
}

@media (max-width:370px){
    .header__search{
        width: 320px!important;
    }
}

@media (max-width:347px){
    .header__search{
        width: 300px!important;
    }
}

@media (max-width:347px){
    .header__search{
        width: 300px!important;
    }
}

@media (max-width:328px){
    .header__search{
        width: 280px!important;
    }
}

@media (max-width:310px){
    .header__search{
        width: 100%!important;
    }
}

