.order{
    display: flex;
    padding: 20px 0px;
    border-top: 1px solid #F3F3F3;
    &__img{
        cursor: pointer;
        margin-right: 10px;
        img{
            width: 250px;
        }
    }
    &__info{}
    &__status{
        p{
            margin-bottom: 10px;
        }
    }
    &__status-item{
        cursor: pointer;
        border: 1px solid silver;
        border-radius: 4px;
        padding: 2px;
        margin: 5px 0px;
    }
    .active{
        background-color: $orange;
        color: white;
    }
}

@media (max-width: 460px){
    .order__img{
        img{
            width: 100px;
        }
    }
}
